setuptools<70
Flask==3.0.0
flask-cors==4.0.0
flask-caching==2.1.0
numpy==1.26.2
opencv-python-headless==4.8.1.78
Pillow==10.1.0
werkzeug==3.0.1
groq==0.11.0
requests==2.31.0
httpx
gunicorn==21.2.0
python-dotenv==1.0.0
